<html>
<head>
    <title></title>
    <%= javascript_include_tag "/js/highcharts.js", "chartkick" %>
    <script type="text/javascript" src ="js/themes/grid.js"></script>
</head>
<body>
    <div id="header">
        <div><center><img src="/images/fixnix.png"></center></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "risklayout/menu" %>
        </div>
        <table>
            <tr>
                <td>
            <div class="chart">
                <div>
                    <p>Risk</p>
                    <%= pie_chart AssetRiskMgt.group("Applicable_Assets").count %>
                </div>
        </div>
    </td>
    <td>
            <div class="chart">
                <div>
                    <p>Businessunit Risk</p>
                    <%= pie_chart BuRiskMgt.group("Applicable_Business_Units").count %>
                </div>
            </div>
    </td>
</tr>
<tr>
    <td>
            <div class="chart">
                <div>
                    <p>Risk classfication</p>
                    <%= bar_chart RiskClassification.group("Classification_Type").count %>
                </div>
            </div>
    </td>
    <td>
            <div class="chart">
                <div>
                    <p>Risk Exception</p>
                     <%= bar_chart RiskException.group("Author").count %>
                </div>
            </div>
    </td>
</tr>
<tr>
    <td>
            <div class="chart">
                <div>
                    <p>Third Party Risk</p>
                    <%= bar_chart ThirdPartyRiskMgt.group("Risk_Title").count %>
                </div>
            </div>
    </td>
</tr>
</table>
            </div>
        </div>
    </div>
</div>
<!-- <div id="footer">Footer</div> -->
</body>
</html>