<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="span11 offset well">
  <div class="form-horizontal">

    <div class="field">
    <%= f.label "Member Name" %><br />
    <%= f.text_field :membername %>
  </div>
    <div class="field">
    <%= f.label "Department" %><br />
    <%= f.text_field :department %>
  <div class="field">
    <%= f.label "Role" %><br />
    <%= f.text_field :role %>
  </div>
      
    <div class="actions">
    <%= f.submit %>
  </div>
    <% end %>
  </div>
</div>
